/* Helpers */
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.none{
  display: none;
}

.relative {
  position: relative;
}

/* security-space */
.padding16{
  padding: 16px
}
.padding24{
  padding: 24px
}
.padding48{
  padding: 48px
}

@media screen and (max-width:480px) {
  .padding48{
    padding: 24px;
  }
  .padding24{
    padding: 16px;
  }
}