body {
  background-color: white;
  background-image: linear-gradient(
      45deg,
      var(--c-gray) 25%,
      transparent 25%,
      transparent 75%,
      var(--c-gray) 75%,
      var(--c-gray)
    ),
    linear-gradient(
      -45deg,
      var(--c-gray) 25%,
      transparent 25%,
      transparent 75%,
      var(--c-gray) 75%,
      var(--c-gray)
    );
  background-size: 24px 24px;
  background-position: 0 0;
  animation: slide 60s infinite linear;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -1200px 600px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form .login {
  background-color: var(--c-background);
}

.login-form .title {
  height: 42px;
  border-bottom: 3px solid black;
  background-color: var(--c-green);
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form form input {
  width: 65%;
  font-size: 2em;
  text-align: center;
  padding: 0.2em 0.4em;
  margin-bottom: 25px;
  border-radius: 5px;
  border: 3px solid #000;
}

@media screen and (max-width: 768px) {
  .window.login {
    height: 100vh;
    width: 100vw;
    display: grid;
  }
}
