.wrapper-app{
  max-width: 1200px;
  width: 90vw;
  height: 90vh;
  box-sizing: border-box;
  background-color: var(--c-backgorund)
}

.channels{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 3px solid var(--c-black);
}

/* .send-message */
.send-message{
  display: flex;
  overflow: hidden;
  font-size: var(--fs-big)
}

.send-message .input-text{
  flex: 1 1 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.send-message .submit{
  flex: 0 0 96px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}