.main-grid{
  display: grid;
  grid-template:
    "header header" 40px
    "channels tabs" 56px
    "channels chat" 1fr / 160px 1fr;
}

.header {
  grid-area: header
}
.channels {
  grid-area: channels
}
.tabs {
  grid-area: tabs
}
.chat {
  grid-area: chat
}

@media screen and (max-width: 480px) {
  .main-grid{
    grid-template:
    "header" 40px
    "tabs" 48px
    "chat" 1fr / 1fr;
  }
}