.list-channels{

}

.list-channels .title{
  margin-bottom: 0.2em;
}

.list-channels .channel{
  padding: 0.3em 0.5em;
  transition: all 0.25s;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
}

.list-channels .channel:hover{
  background-color: var(--c-green);
}

.list-channels .new-channel{
  margin-top: 1em
}